<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="AdminMaster.master.cs" Inherits="CYPHER.Admin.AdminMaster" %>
<!DOCTYPE html>
<html>
<head runat="server">
    <title>CYPHER Admin</title>
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div style="padding: 20px;">
            <h1 style="color: #C9A84C;">CYPHER Admin Portal</h1>
            <hr />
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
